* {
  margin: 0;
  padding: 0;
}

/*Global*/

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.btn {
  padding: 10px 24px;
  border-radius: 41px;
}

/* Start */

header {
  width: 1200px;
  margin: 60px auto;
}

.header {
  background-image: url(../images/circle_design.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.nav {
  justify-content: space-between;
}

.nav-ul {
  align-items: center;
  gap: 34px;
}

#nav-h3 {
  font-weight: bold;
  font-size: 24px;
}

.links {
  text-decoration: none;
  color: black;
}

.li-items {
  list-style: none;
}

.banner {
  margin-top: 100px;
  align-items: center;
  justify-content: space-between;
}

.banner-h1 {
  font-size: 52px;
  font-weight: bold;
  width: 580px;
}

.banner-p {
  font-weight: 600;
  font-size: 16px;
  width: 500px;
  margin-bottom: 16px;
}

.banner-img-content img {
  width: 100%;
}

.sponsors {
  width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 36px 60px;
  border-width: 2px 0;
  border-style: solid;
  border-image-source: linear-gradient(
    to right,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50%,
    rgba(192, 204, 218, 0.1) 100%
  );
  border-image-slice: 1;
}
